
	<header>
		<nav id='mainnav' class='navbar navbar-expand-md bg-light shadow'>
			<div class='container-fluid' id='navbardiv'>
				<a class='navbar-brand mb-0 h1' href='index.php' style='color:blue;'>Tools</a>
				<button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#collapsibleNavbar'>
					<span class='navbar-toggler-icon'></span>
				</button>
				<div class='collapse navbar-collapse' id='collapsibleNavbar'>
					<ul class='navbar-nav me-auto'>
						<a class='nav-link' target='_blank' href='//ar.wikipedia.org/wiki/User_talk:Mr. Ibrahem'>Talk</a>
					</ul>
					<div class='d-flex'>
						<ul class='nav navbar-nav ml-auto'>
							<li class='nav-item' id=''>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>